<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyByte</title>
    <meta name="description" content="nutrition information for your food"
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</head>
<body>
    <header>

    </header>

    <nav>

    </nav>

    <div id="scanner-container">
        <div id="interactive" class="viewport"></div>
    </div>

    <div id="result"></div>

    <form method="POST">
        <input type="text" name="barcode_number" placeholder="Enter barcode manually">
        <button type="submit">Search</button>
    </form>

    {% if nutrition_info %}
        <div>Nutrition Info: {{ nutrition_info }}</div>
    {% elif error %}
        <div>{{ error }}</div>
    {% endif %}

    <footer>

    </footer>
    <script>

        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector('#interactive'),
                constraints: {
                    width: 640,
                    height: 480,
                    facingMode: "environment"
                },
            },
            decoder: {
                readers: ["ean_reader"] 
            }
        }, function(err) {
            if (err) {
                console.error("Failed to initialize QuaggaJS:", err);
                return;
            }
            console.log("QuaggaJS initialized. Ready to scan barcodes.");
            Quagga.start();
        });


        Quagga.onDetected(function(result) {
            const barcode = result.codeResult.code;
            console.log("Barcode detected:", barcode);


            fetch('/scan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ barcode: barcode }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('result').innerText = data.error;
                } else {
                    document.getElementById('result').innerText = `Nutrition Info: ${JSON.stringify(data)}`;
                }
            })
            .catch(error => {
                console.error("Error sending barcode to server:", error);
            });
            Quagga.stop()
        });
    </script>
</body>
</html>
